@model IEnumerable<ALTC_WebSite.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<div class="row py-5 mx-0">
 
    <div class="col-md-8 offset-md-2">
        <div class="text-white mb-3">
            <a  asp-action="Create" class="btn btn-success">
             Add New
            </a>
        </div>
<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
             <th>
                   Contact 
             </th>
    
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
          
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                        <td>
                            <a href="@item.Facebook">Facebook</a>
                            |
                            <a href="@item.Linkedin">LinkedIn</a>
                            |
                            <a href="@item.Twitter">Twitter</a>
                        </td>
            
                <td>
                    <a asp-controller="Team" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                    |
                    <a asp-controller="Team" asp-action="DeleteOne" asp-route-Id="@item.Id" onclick="confirm('Do you want to delete this team member ??')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>


