﻿
@model List<Request>

@{

    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="row py-5 mx-0">

    <div class="col-md-8 offset-md-2">
        <div class="text-white mb-3">
            <a asp-action="Create" class="btn btn-success">
                Add New
            </a>
        </div>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Request request in Model)
            {
                <tr>
                    <th scope="row">@(i++)</th>
                    <td>@request.Name</td>
                    <td>@request.Phone</td>
                    <td>@request.Email</td>
                  
                    <td>
                            <a asp-controller="Request" asp-action="Download" asp-route-FileName="@request.FileName">Download </a>|
                        <a asp-controller="Request" asp-action="GetDetails" asp-route-Id="@request.id" >Details </a>

                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
</div>